.activeLink 
{
    color: red;
    font-size: 2rem;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.App2
{
    background-color: rgb(199, 247, 235);
    height: 100vh;
}